<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="imu_gazebo">
    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">

            <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
            </plugin>

            <always_on>true</always_on>
            <update_rate>1</update_rate>
            <visualize>true</visualize>
            <topic>/imu</topic>
    
            <imu>
                <noise>
                    <type>gaussian</type>
                    <rate>
                        <mean>0.0</mean>
                        <stddev>${0.0014*0.0014}</stddev>
                        <bias_mean>0.0</bias_mean>
                        <bias_stddev>0.0</bias_stddev>
                    </rate>
                        <accel>
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                            <bias_mean>0.1</bias_mean>
                            <bias_stddev>0.001</bias_stddev>
                        </accel>
                </noise>
            </imu>
      
        </sensor>
    </gazebo>
  </xacro:macro>

</robot>