<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot name="kobuki" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find kobuki_description)/model/common_properties.urdf.xacro" />
    <xacro:include filename="$(find kobuki_description)/model/kobuki_sim.gazebo.xacro"/>
    
    <xacro:include filename="$(find kobuki_description)/model/parts/kobuki_base.xacro"/>
    <xacro:include filename="$(find kobuki_description)/model/wheels/kobuki_wheels.xacro"/>
    <xacro:include filename="$(find kobuki_description)/model/sensors/lidar/kobuki_lidar.xacro"/>
    <xacro:include filename="$(find kobuki_description)/model/sensors/imu/kobuki_imu.xacro"/>
    <xacro:include filename="$(find kobuki_description)/model/camera/kobuki_camera.xacro"/>

    <link name="base_footprint"> </link>

                                                                          <!-- KOBUKI BASE -->
    <xacro:kobuki_base1 parent="base_footprint">
      <origin xyz="0 0 0.352"/>
    </xacro:kobuki_base1>

    <xacro:base1_gazebo/>

                                                                          <!-- KOBUKI BASE 2 -->
    <xacro:kobuki_base2 parent="base_link">
      <origin xyz="0.0 0.0 0.10201"/>
    </xacro:kobuki_base2>

    <xacro:base2_gazebo/>

                                                                          <!-- KOBUKI PC -->
    <xacro:kobuki_pc parent="base_link">
        <origin xyz="0.045 0.0 0.06901"/>
    </xacro:kobuki_pc>

    <xacro:pc_gazebo/>

                                                                          <!-- KOBUKI HEX -->
    <xacro:kobuki_hex parent="base_link" prefix="back_left">
      <origin xyz="-0.055 -0.12 0.06901"/>
    </xacro:kobuki_hex>

    <xacro:hex_gazebo prefix="back_left"/>

    <xacro:kobuki_hex parent="base_link" prefix="back_right">
      <origin xyz="-0.055 0.12 0.06901"/>
    </xacro:kobuki_hex>

    <xacro:hex_gazebo prefix="back_right"/>

    <xacro:kobuki_hex parent="base_link" prefix="front_left">
      <origin xyz="0.055 -0.12 0.06901"/>
    </xacro:kobuki_hex>

    <xacro:hex_gazebo prefix="front_left"/>

    <xacro:kobuki_hex parent="base_link" prefix="front_right">
      <origin xyz="0.055 0.12 0.06901"/>
    </xacro:kobuki_hex>

    <xacro:hex_gazebo prefix="front_right"/>
    

                                                                          <!-- KOBUKI WHEELS -->
    <xacro:kobuki_wheel parent="base_link" prefix="right">
        <origin xyz="0.00 -${0.23/2} -0.02699" rpy="${-PI/2} 0 0"/>
    </xacro:kobuki_wheel>

    <xacro:wheel_gazebo prefix="right"/>

    <xacro:kobuki_wheel parent="base_link" prefix="left">
        <origin xyz="0.00 ${0.23/2} -0.02699" rpy="${-PI/2} 0 0"/>
    </xacro:kobuki_wheel>

    <xacro:wheel_gazebo prefix="left"/>

    <xacro:kobuki_caster parent="base_link" prefix="front">
        <origin xyz="0.115 0.0 -0.04499" rpy="${-PI/2} 0 0"/>
    </xacro:kobuki_caster>
    
    <xacro:caster_gazebo prefix="front"/>

    <xacro:kobuki_caster parent="base_link" prefix="back">
        <origin xyz="-0.005 0.0 -0.04499" rpy="${-PI/2} 0 0"/>
    </xacro:kobuki_caster>

    <xacro:caster_gazebo prefix="back"/>

                                                                          <!-- KOBUKI LIDAR -->
    <xacro:kobuki_lidar parent="base2_link">
        <origin xyz="0.0 0.0 0.030" rpy="0 0 0"/>
    </xacro:kobuki_lidar>

    <xacro:lidar_gazebo/>

                                                                          <!-- KOBUKI IMU -->
    <xacro:kobuki_imu parent="base_link">
        <origin xyz="0.056 0.062 -0.03179" rpy="0 0 0"/>
    </xacro:kobuki_imu>

    <xacro:imu_gazebo/>

                                                                          <!-- KOBUKI RGBD CAMERA -->
                                                      <!-- Simple representation of the realsense D415 depth camera -->
    <xacro:kobuki_camera parent="base_link">
        <origin xyz="0.165 0.0 0.05801" rpy="0 0 0"/>
    </xacro:kobuki_camera>

    <xacro:kobuki_optical_camera parent="camera_link">
        <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
    </xacro:kobuki_optical_camera>

    <!-- <xacro:rgb_camera_gazebo/>
    <xacro:depth_camera_gazebo/> -->
    <xacro:rgbd_camera/>

                                                                          <!-- CONTROL -->
    <xacro:control_gazebo/>

</robot>