<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="rgb_camera_gazebo">
    <gazebo reference="camera_link">
        <sensor name="rgb_camera" type="camera">
            <camera name="RGB_Camera">
                <updateRate>30.0</updateRate>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.3</near>
                    <far>300</far>
                </clip>
            </camera>
        </sensor>
        <material>Gazebo/Grey</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="depth_camera_gazebo">
    <gazebo reference="camera_link">
        <sensor name="depth_camera" type="depth">
            <camera name="Depth_Camera">
                <updateRate>30</updateRate>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.3</near>
                    <far>300</far>
                </clip>
            </camera>
        </sensor>
        <material>Gazebo/Grey</material>
    </gazebo>
  </xacro:macro>

</robot>