<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  
  <xacro:macro name="D1_gazebo">
	<gazebo reference="D1_base_link">
        <selfCollide>false</selfCollide>
        <mu1 value="0.05" />
        <mu2 value="0.05" />
        <material>Gazebo/Dark_Grey</material>
    </gazebo>
	<gazebo reference="D1_link_1">
        <selfCollide>false</selfCollide>
        <mu1 value="0.05" />
        <mu2 value="0.05" />
        <material>Gazebo/Dark_Grey</material>
    </gazebo>
	<gazebo reference="D1_link_2">
        <selfCollide>false</selfCollide>
        <mu1 value="0.05" />
        <mu2 value="0.05" />
        <material>Gazebo/Dark_Grey</material>
    </gazebo>
	<gazebo reference="D1_link_3">
        <selfCollide>false</selfCollide>
        <mu1 value="0.05" />
        <mu2 value="0.05" />
        <material>Gazebo/Dark_Grey</material>
    </gazebo>
	<gazebo reference="D1_link_4">
        <selfCollide>false</selfCollide>
        <mu1 value="0.05" />
        <mu2 value="0.05" />
        <material>Gazebo/Dark_Grey</material>
    </gazebo>
	<gazebo reference="D1_link_5">
        <selfCollide>false</selfCollide>
        <mu1 value="0.05" />
        <mu2 value="0.05" />
        <material>Gazebo/Dark_Grey</material>
    </gazebo>
	<gazebo reference="D1_link_6">
        <selfCollide>false</selfCollide>
        <mu1 value="0.05" />
        <mu2 value="0.05" />
        <material>Gazebo/Dark_Grey</material>
    </gazebo>
	<gazebo reference="D1_link_6">
        <selfCollide>false</selfCollide>
        <mu1 value="0.05" />
        <mu2 value="0.05" />
        <material>Gazebo/Dark_Grey</material>
    </gazebo>
	<gazebo reference="D1_link_L">
        <selfCollide>false</selfCollide>
        <mu1 value="0.05" />
        <mu2 value="0.05" />
        <material>Gazebo/Dark_Grey</material>
    </gazebo>
	<gazebo reference="D1_link_R">
        <selfCollide>false</selfCollide>
        <mu1 value="0.05" />
        <mu2 value="0.05" />
        <material>Gazebo/Dark_Grey</material>
    </gazebo>
  </xacro:macro>
</robot>